@model Spice.Models.ViewModels.MenuItemViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<h2 class="text-info">Menu Item Details</h2>
<br />
<partial name="_StatusMessage" model='@(string)TempData["StatusMessage"]' />
<div class="border background-white row">
    <input type="hidden" asp-for="MenuItem.Id" />
    <div class="col-8">
        <div class="form-group row">
            <div class="col-4">
                <label asp-for="MenuItem.Name" class="col-form-label"></label>
            </div>
            <div class="col-8">
                <input asp-for="MenuItem.Name" class="form-control" readonly />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-4">
                <label asp-for="MenuItem.Description" class="col-form-label"></label>
            </div>
            <div class="col-8">
                @Html.TextAreaFor(m => m.MenuItem.Description)
            </div>
        </div>
        <div class="form-group row">
            <div class="col-4">
                <label asp-for="MenuItem.Price" class="col-form-label"></label>
            </div>
            <div class="col-8">
                <input asp-for="MenuItem.Price" class="form-control" readonly />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-4">
                <label asp-for="MenuItem.CategoryId" class="col-form-label"></label>
            </div>
            <div class="col-8">
                <input asp-for="MenuItem.Category.Name" class="form-control" readonly />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-4">
                <label asp-for="MenuItem.SubCategoryId" class="col-form-label"></label>
            </div>
            <div class="col-8">
                <input asp-for="MenuItem.SubCategory.Name" class="form-control" readonly />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-4">
                <label asp-for="MenuItem.Spicyness" class="col-form-label"></label>
            </div>
            <div class="col-8">
                <select asp-for="MenuItem.Spicyness" asp-items="Html.GetEnumSelectList<MenuItem.ESpicy>()" class="form-control" disabled></select>
            </div>
        </div>
    </div>
    <div class="col-3 offset-1">
        <img src="@Model.MenuItem.Image" width="100%" style="border-radius:5px;border:1px solid #bbb9b9" />
    </div>
    <div class="col-8">
        <div class="col-8 offset-4">
            <partial name="_DetailsAndBackToListButtonsPartial" model="Model.MenuItem.Id" />
        </div>
    </div>
</div>
@section Scripts
{
    <script>
        tinymce.init(
            {
                selector: 'textarea',
                plugins: 'lists',
                menubar: 'file edit format',
                readonly: 1
            });
    </script>

    <script type="text/javascript">
        $(document).ready(function ()
        {
            getSubCategory();

            $("#CategoryId").change(function ()
            {
                getSubCategory();
            });
        });

        function getSubCategory()
        {
            let url = '@Url.Content("~/")' + 'Admin/SubCategory/GetSubCategory';
            let ddlSource = '#CategoryId';

            $.getJSON(url, { id: $(ddlSource).val() }, function (data)
            {
                let items = '';

                $('#SubCategoryId').empty();

                $.each(data, function (i, subcategory)
                {
                    items += "<option value='" + subcategory.value + "'>" + subcategory.text + "</option>";
                });

                $("#SubCategoryId").html(items);
            });
        }
    </script>
}